* {
    margin: 0;
}

.app {
    color: rgb(0, 0, 0);
    background: linear-gradient(rgb(87, 105, 194), white);
    width: 100%;
}

.header{
    
}

h1 {
    font-size: 4rem;
    justify-self: center;
}


.theme {
    text-decoration: underline;
    font-size: 2rem;
}

.question {
    font-size: 1.5rem;
}

.boutonReponse {
    font-size: 1.3rem;
}

.verif {
    font-size: 3rem;
}

.newQuestion {
    font-size: 1.3rem;
}